body{
  margin:0;
  color:chartreuse;
  padding:0;
  background: rgb(44, 44, 44);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  color: #70757a;
}
h1{margin: 0;}
h2{margin: 0;}
h3{margin: 0;}
h4{margin: 0;}
p{
  margin: 0;
}
ul{
  padding: 0;
  
}
.headerlinks{
  font-size:16px;
  color:rgb(250, 240, 218);
}
header{
  background-color: #333638;
  position:fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.headerLeft{
  float: left;
}
.headerRight{
  float: right;
}

.nav-menu{
  margin: 0;
}
#userlogo{
  border-radius: 50%;
}
content{
  background-color: #333638;
  margin-top: 100px;
  height:200px;
  display: flex;
  justify-content: center;
}

.searchBar{
  display: inline;
  justify-content:center;
  margin: 0;
}
li{
  list-style-type: none;
}
.headerList{
  background-color:rgb(9, 133, 85);
  padding: 16px;
  display: inline;
  margin: 0 0 0 0;
  
}
.headerList:hover{
  background-color:rgb(34, 80, 62);
}
.contentList{
  
}
