body{
  margin:0;
  color:chartreuse;
  padding:0;
  background: rgb(44, 44, 44);
  font-family: arial,sans-serif;
    
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  color: #70757a;
}
h1{margin: 0;}
h2{margin: 0;}
h3{margin: 0;}
h4{margin: 0;}
p{
  margin: 0;
}
ul{
  padding: 0;
  margin: 20px 20px;
}
.headerlinks{
  color:rgb(255, 255, 255);
}
header{
  background-color: #333638;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.headerLeft{
  float: left;
}
.headerRight{
  float: right;
  margin: 20px;
}

.nav-menu{
  margin: 0;
}
#userlogo{
  border-radius: 50%;
}
content{
  background-color: #70757a;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.searchBar{
  display: inline;
  justify-content:center;
  margin: 0;
}
li{
  list-style-type: none;
}
.headerList{
  display: inline;
  margin: 0;
  margin-right: 25px;
}
.contentList{
  
}
.offer{
  display: flex;
  justify-content: center;
  font-size: 14px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid lightgray;
}
.footer-menu1{
  float:left;
}
.footer-menu2{
  margin-right : 25px;
  float: right;
}
.footerlinks{
  color: gray;
}